<div class="container">
    <div class="col-md-8 offset-md-2">
            <div class="jumbotron">
    <form [formGroup]="form" >
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
        <span style="color:red" *ngIf = "form.get('firstName').touched && form.get('firstName').invalid">
                <span *ngIf = "form.get('firstName').errors.required">
                  First Name is required
                </span>
                <span *ngIf = "form.get('firstName').errors.minlength">
                    Min length  5 is required
                  </span>
                  <span *ngIf = "form.get('firstname').errors.maxlength">
                      Max length 2 is required
                    </span>
                    <span *ngIf = "form.get('firstName').errors.pattern">
                      Alphabets only
                    </span>
            
            
              </span>
       
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
       
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" formControlName="age">
      </div>
      <button class="btn btn-success" (click)= "empData(form.value)">SUBMIT</button>
    </form>
  </div>


 <div class="container"> 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList ; let i =index">
      <td>{{i+1}}</td>
      <td>{{emp.firstName}}</td>
      <td>{{emp.lastName}}</td>
      <td>{{emp.age}}</td>
      <td><button class="btn btn-primary" (click)="editData(emp)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="deleteData(i)">Delete</button></td>
    </tr>
    <tr>
      </tr>
      </tbody>
      </table>
    </div> 
    </div>
    </div>